<div class="content">  
    <h1>{{title}}</h1>
  <ul>
  {{#each bookinstance_list as |val|}}
    <li>
      <a href="{{val.url}}">{{val.book.title}}</a>: {{val.imprint}} - <span class="text-success">{{val.status}}</span>
      {{#if val.due_back}}
        <span>Due: {{val.due_back_formatted}}</span>
      {{/if}}
    </li>
  {{else}}
    <li> There are no book copies in this library.</li>
  {{/each}}
  </ul>
</div>